<form (ngSubmit)="onSubmit()">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <mat-form-field appearance="standard" >
        <input matInput name="title" #addTodoInput [(ngModel)]="title" placeholder="Type your next todo" />
      </mat-form-field>
    </div>
    <div class="col flex-shrink-1 flex-grow-0">
      <button mat-icon-button type="submit">
        <mat-icon aria-label="Submit todo">check</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <button mat-icon-button color="primary" (click)="focusAdd()">
      <mat-icon aria-label="Add todo">add</mat-icon>
    </button>
  </div>
</form>
